* {
    font-family: 'Noto Sans', sans-serif;
    margin: 0;
}

/* Nav bar*/

#nav-principal {
    background-color: #18a85f;
    font-size: 1rem;
    font-weight: bold;
}

#nav-principal .nav-link:hover {
    font-weight: 600;
    transition: transform 0.1s ease-in-out;
    letter-spacing: 0;
}

#logo {
    margin-left: 20px;
}

#media{
    margin: auto;
}

#buscador {
    margin: auto;
}


/* Inicio codigo contenido suscripcion*/

section {
    background-color: #90be6d;
}

section .container .card{
    border: 3px solid #18a85f;
}

::placeholder{
    font-size: 15px;
}

.valid-feedback .invalid-feedback {
    display: block;
    margin-top: 5px;
}

#desuscribirse {
    font-size: 15px;
}

/* Inicio codigo footer*/

.container {
    max-width: 1170px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.footer ul {
    list-style: none;
}

.footer {
    background-color: #2c2c2c;
    padding: 70px 0;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer-col h4 {
    font-size: 20px;
    color: #FFF;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;
}

.footer-col ul li {
    margin-bottom: 10px;
}

.footer-col ul li a {
    color: #FFF;
    display: block;
    text-decoration: none;
}

.footer-col ul li a:hover {
    font-weight: 600;
}

.footer-col .redes-sociales a img {
    margin-left: 5px;
    margin-right: 10px;
}

/* Responsivo footer*/
@media(max-width: 767px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media(max-width: 574px) {
    .footer-col {
        width: 100%;
    }
}